<h1 class="sub-header npa-font--42">
  Posts
  <span class="sub-header--controls">
    <input id="blog-edition" type="checkbox" name="blog-edition" [formControl]="edition" npaFb>
    <label for="blog-edition">Edition</label>
  </span>
</h1>

<section class="blog__posts-toolbar" *ngIf="!loading">
  <div class="user-filter">
    <label for="user-filter"></label>
    <input
      class="npa-input npa-input--search npa-input--action-clear"s
      id="user-filter"
      placeholder="Filter by user"
      [formControl]="userFilter"
      npaFormBehavior [render]="true" (clickIcon)="clear($event)"
      npaDropdownEvents [eventToTrigger]="'click'" (event)="triggerUsersDropdown()"
      npaKeyboardEmitter (keyboardEmitter)="dropdownUsersKeyboard$.next($event)">
    <npa-dropdown
      [(showDropdown)]="showDropdownUsers"
      [options]="optionsUsers"
      [config]="usersDropdownConfig"
      [keyboardControl]="dropdownUsersKeyboard$"
      (optionSelected)="filterByUser($event)">
    </npa-dropdown>
  </div>
  <div class="posts-counter npa-color--space-6">{{counter}}</div>
</section>

<section class="blog__posts-grid" *ngIf="!loading">
  <div class="blog__card" *ngFor="let post of posts; trackBy: tools.identifier;">
    <div class="card--comments npa-font--12">
      {{post.comments?.length}} comments
    </div>
    <div class="card--top">
      <h3>{{post.title}}</h3>
      <hr>
      <div class="card__excerpt" [innerText]="post.body"></div>
      <div>...</div>
    </div>
    <div class="card--bottom">
      <a class="npa-link npa-link-hover-underline-inverse" [routerLink]="['/', 'post', post.id]">More</a>
      <button
        class="npa-button npa-button--borderless npa-button--icon-only"
        *ngIf="edition.value"
        (click)="ev.preventNoNeededEvent($event); goEditPost(post.id);">
        <i class="npa-icon icon-edit"></i>
      </button>
      <button
        class="npa-button npa-button--borderless npa-button--small"
        *ngIf="!!post.user"
        (click)="ev.preventNoNeededEvent($event); showThisUser(post.user)">
        By {{post.user?.username}}
      </button>
    </div>
  </div>
</section>

<div class="loading" *ngIf="loading">
  <npa-spinner></npa-spinner>
</div>

<npa-modal
  [showModal]="showUserModal"
  [modalConfig]="{}"
  [title]="'User Info'"
  [buttonsLabels]="{ action: 'Ok' }"
  (action)="closeUserModal()"
  (closeModal)="closeUserModal()">
  <app-user-info [user]="userToShow"></app-user-info>
</npa-modal>
