@import '../../mixins';

:host {
  @include contentView() {
    .blog__posts-toolbar {
      display: flex;
      align-items: center;
      margin-bottom: var(--npa-spacing-40);
      .posts-counter {
        margin-left: var(--npa-spacing-40);
      }
    }

    .blog__posts-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, var(--at-card-width));
      grid-auto-rows: auto;
      grid-gap: 2rem;
      @include blogCard(330px);
    }
  }
}
