@use '~@medea/atos-test/mixins' as npa;

//## Mixin for apply common styles to all content views in backoffice sections.
//## PARAMETERS: void
@mixin contentView() {
  position: relative;
  display: block;
  height: 100%;
  padding: var(--at-blog-laout-content-paddign);
  box-sizing: border-box;
  overflow: auto;

  H1, H3 {
    margin-top: 0;
  }
  H1 {
    margin-top: -16px;
    font-weight: 100;
  }

  .sub-header {
    @include npa.createFlexBox(row, center, normal, nowrap);
    .sub-header--controls {
      margin-left: var(--npa-spacing-48);
      font-weight: normal;
    }
  }

  .loading {
    margin-top: calc(var(--npa-spacing-60) * 2);
  }

  @include npa.styleScrollbar(var(--npa-color-space-3));

  @content;
}

@mixin sectionSeparator() {
  @include npa.createFlexBox(column, center, center, nowrap);
  vertical-align: baseline;
  margin: calc(var(--at-section-separator-box-align) + var(--npa-spacing-24)) 0 var(--npa-spacing-24) 0;
  border-top: 1px solid var(--npa-color-space-3);
  .section-separator__icon-box {
    width: var(--at-section-separator-box-width);
    height: var(--at-section-separator-box-width);
    background-color: var(--npa-color-space-2);
    margin-top: calc(var(--at-section-separator-box-align) * -1);
    padding: var(--npa-spacing-16);
    border: 24px solid var(--npa-color-white);
    border-top-width: var(--npa-spacing-12);
    border-bottom-width: var(--npa-spacing-12);
    border-radius: 50%;
    I {
      line-height: 1;
      color: var(--npa-color-space-3);
    }
  }
}
